.spinner-container {
  display: flex;
}

.size-big {
  height: 80px;
  width: 80px;
}

.size-medium {
  height: 40px;
  width: 40px;
}

.size-mini {
  height: 20px;
  width: 20px;
}

.loading-spinner {
  border: 2px solid #FFF;
  border-top: 2px solid #00B37E;
  border-radius: 50%;
  animation: spinner 500ms linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}